/* CSS 참조 방식 우선순위
인라인 방식 > 내장 방식 ? 링크 방식 */
/* 내장 방식 / 링크 방식 나중에 불려지는 것이 적용 */

/* CSS 많이 쓰이는 속성
- color, background-color
- font-size, font-weight(100~900), font-family(글꼴), font-style
- border, width, height
- margin, padding */

/* CSS 복잡한 속성
- position
static : 정적 위치 지정 방식
relative : 상대 위치 지정 방식
absolute : 절대 위치 지정 방식
fixed : 고정 위치 지정 방식 

- transform
skew : 기울기
scale : 확대
rotate : 회전
translate : 이동

- display
inline
block
inline-block
flex : 자식태그들이 inline 속성을 가지게함
none